@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #171717;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  color: inherit;
}
